{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Mubarek Hassen Portfolio</title>
    <link rel="shortcut icon" href="../static/icons8-coffee-16.png" type="image/png">
</head>

<body>
    <header class="">
        <nav class="navbar">
            <div class="container-fluid">
                <h1 class="navbar-brand" id="topic">
                <img src="https://img.icons8.com/external-febrian-hidayat-fill-lineal-febrian-hidayat/64/000000/external-coffee-restaurant-febrian-hidayat-fill-lineal-febrian-hidayat.png"/> Mubarek - WebDev</h1>
            <ul id="lists">
                <li><a href="../static/Resume-Mubarek-Hassen.pdf" download="Mubarek-Resume" target="_blank" rel="noreferrer noopener" id="file">Resume</a></li>
                <li><a href="../static/Certificate-of-Completion-mubarekhassen4@gmail.com-1656084184.pdf" target="_blank" rel="noreferrer noopener" id="file">Certificate</a></li>
            </ul>
        </div>
        </nav>
    </header>
            {% block content %}
            {% endblock %}
    <footer>
        <h5 id="contact">Contact</h5>
        <h6><a href="mailto:mubarekhassen4@gmail.com" id="foot">Email</a></h6>
        <h6> <a href="https://github.com/Mubarek-Hassen" target="_blank" rel="noreferrer noopener" id="foot"> Github</a></h6>
        <h6><a href="https://www.linkedin.com/in/mubarek-hassen-wubitu/" target="_blank" rel="noreferrer noopener" id="foot">LinkedIn</a></h6>
        <p>2022 Design By Mubarek</p>
        <small><a id="foot" target="_blank" href="https://icons8.com/icon/iau7vsHa3LwF/coffee">Coffee</a> icon by <a id="foot" target="_blank" href="https://icons8.com">Icons8</a></small>
    </footer>
</body>
</html>